---
layout: null
sitemap: false
---

:root {
  /* Colours */
  --lightblue: #D7EFFE;
  --blue: #4285f4;
  --navy: #0d3749;
  --green: #3ddc84;
  --darkgreen: #0d904f;
  --purple: #ad26b4; /* TODO */
  --yellow: #eff7cf;
  --red: #f05230; /* TODO */
  --darkgrey: #15171A;
  --midgrey: #738a94;
  --lightgrey: #c5d2d9;
  --whitegrey: #f5f5f5;
  --orange: #f86734;
  --pink: #fa3a57;
  --brown: #a3821a;
  --white: #ffffff;

  --button: var(--blue);
  --date: var(--blue);
  --tags: var(--blue);
  --links: var(--darkgreen);
  --progressbar: var(--darkgreen);
  --textselection: #57f69e; /* 10% lighter than green */

  /* Code syntax */
  --codebackground: #282a36;
  --keyword: #85c0ff; /* 30% lighter than blue */
  --comments: var(--lightblue);
  --literals: var(--orange);
  --names: var(--white);
  --punctuation: #c9c9c9;
  --types: #e1f39b;
  --strings: var(--orange);
  --class: #57f69e;
  --function: #fffec8;
  --annotation: #ffbc8f; /* 30% lighter than orange */

  /* Font family */
  --header_fontfamily: 'Montserrat', sans-serif;
  --body_fontfamily: 'Inter', sans-serif;
  --code_fontfamily: 'Source Code Pro', monospace;
}

$brand-colour: #35d69b;

$nav-header-height: 60px;
$nav-background-color: #f5f5f5;
$nav-width: 210px;

$space: 20px;

$mobile-break: 700px;

@import "mixins";
@import "main";
@import "borland";
@import "monaki";
@import "syntax.css";
